@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500,550,600,700&display=swap');

#footer {
    text-align: center;
}

#footer p {
    color: grey;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 0.8vw;
}