<app-header></app-header>

<div id="accueil">
    <img id="logo" src="../assets/logo.png" />
    <p id="titre">Bienvenue sur Mobilit’IF!</p>
    <p id="soustitre">Mobilit’IF est la plateforme de centralisation de toutes les informations dont vous avez besoin
        pour vos échanges.
        <br /><br />
    </p>
    <p id="paragraphe">
        Si vous voulez :<br />
        - poser une question, <br />
        - contacter les responsables, <br />
        - contacter les étudiants partant au même endroit, <br />
        - ne plus jamais rater une deadline,<br />
        vous êtes au bon endroit !
    </p>



</div>
<app-footer></app-footer>