.navigation-block {
    position: fixed;
    top: 30px;
    right: 20%;
    z-index: 22;
}

.navigation-button {
    color:white;
    background-color: #93c2ae;
    padding: 8px;
    margin: 6px 2px;
    border: 2px solid #93c2ae;
    border-radius: 5px;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.navigation-button:hover {
    box-shadow: 0 0 2px 0 #19b394 inset, 0 0 4px 2px #93c2ae;
}
.navigation-page-selector {
    width: 90px;
    box-sizing: border-box;
    border-radius: 2px;
    height: 34px;
    line-height: 34px;
    background: #fff;
    outline: 1px solid #d4d4d4;
    text-align: left;
    border: none;
    padding: 0 5px;
}
.navigation-page-selector:focus {
    outline: 1px solid #1ab394;
}