<app-sidebar></app-sidebar>
<div id="universite">
    <div id="header">
        <p id="titre">{{univDetails.nom}}</p>
    </div>
    <div id="wrapper">
        <div id="infos">
            <div id="infos1">
                <p class="titre">Fiche d'identité</p>
                <p>🌍 Pays : {{univDetails.pays}}</p>
                <p>📍 Ville : {{univDetails.ville}}</p>
                <p>📅 Dates du semestre 1 : {{univDetails.debuts1}} - {{univDetails.Fins1}}</p>
                <p>📅 Dates du semestre 2 : {{univDetails.debuts2}} - {{univDetails.finS2}}</p>
                <p>🌐 <a href={{univDetails.url}}>Site de l'université</a></p>
            </div>
            
            <div id="accords" class="scrollable">
                
                <p class="titre">Accords disponibles</p>
                <div *ngFor="let accord of univDetails.accords, let i=index">
                    <p>🤝 Nom de l'accord : {{accord.nom}}</p>
                    <p>🪑 Nombre de places : {{accord.place}}</p>
                    <p *ngIf='accord.descr==null'>📄 Description : <a href={{accord.descr}}>lien</a></p>
                    <p>💬 Niveau de langue demandé : {{accord.niveauLV}}</p>
                </div>
            </div>
        </div>






        <div id="discussion">
            <div id="titrewrapper"><span id="titre">Canal de discussion ✉️</span>
                
            <button id="ajoutConv" (click)="creerConv(nomConv.value)">+ Créer</button>
            <textarea id="nomConv" #nomConv></textarea></div>
            <div id="scrollable" class="scrollable"><table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Date</th>
                        <!-- <th>Suppr</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let chat of allChats, let i=index" (click)="reveal(i)">
                        <td><p>{{chat.name}}</p></td> 
                        <td><p>{{chat.creationDate}}</p></td>
                        <!-- <td><img id="imgSuppr" src="../assets/poubelle.png"/></td> -->
                    </tr>
                </tbody>
            </table>
        </div>

            <div id="chatBlock">
                <p id="titre">
                    {{displayedChat.name}}
                    
                </p>
                    <div id="messagesBlock" class="scrollable" *ngIf="showMessages">

                        <div *ngFor="let message of displayedChat.messageList.slice().reverse(), let i=index">
                            <p id="infos">{{message.author}} à {{message.date}}</p>
                            <p id="contenu">{{message.text}}</p>
                        </div>
                    </div>
                    <div  *ngIf="showMessages">
                        <textarea id="contenuMessageEnvoi" #messageEnvoi></textarea>
                        <button (click)="envoiMessage(messageEnvoi.value)">Envoi</button>
                    </div>
            </div>
        </div>
        <div id="rex">
            <div id="rexWrapper" class="scrollable">
                <p class="titre">Retours d'expériences</p>
                <p class="soustitre">Catégorie 1</p>
                <hr/>
                <div class="block">
                    <span>Détail 1</span>
                    <span id="nom" >TRUC</span>
                    <span id="prenom" >BIDULE</span>
                </div><hr/>
                <div class="block">
                    <span>Détail 2</span>
                    <span id="mail" class="doubleLong">Texte super long super long super long super long super long super long super long super long super long super long super long super long super long super long super long super long</span>
                </div><hr/>
                <div class="block">
                    <span>Détail 3</span>
                    <span id="mail" class="doubleLong">Texte super long super long super long super long super long super long super long super long super long super long super long super long super long super long super long super long</span>
                </div>

                
                <hr/>
                <p class="soustitre">Catégorie 2</p>
                <hr/>
                <div class="block">
                    <span>Détail 1</span>
                    <span id="nom" >TRUC</span>
                    <span id="prenom" >BIDULE</span>
                </div><hr/>
                <div class="block">
                    <span>Détail 2</span>
                    <span id="mail" class="doubleLong">Texte super long super long super long super long super long super long super long super long super long super long super long super long super long super long super long super long</span>
                </div><hr/>
                <div class="block">
                    <span>Détail 3</span>
                    <span id="mail" class="doubleLong">Texte super long super long super long super long super long super long super long super long super long super long super long super long super long super long super long super long</span>
                </div>
            </div>
        </div>
    </div>
</div>