<app-header></app-header>

<div id="connection">
    <img id="logo" src="../assets/logo.png" />
    <p id="titre">Se connecter à son compte</p>
    <p id="soustitre">Bienvenue sur Mobilit’IF! Entrez vos détails.</p>

    <form id="login-form" [formGroup]="loginForm" (ngSubmit)="submitConnexion()">

        <label for="login" class="label">Email</label>
        <input id="login" type="email" email="true" formControlName="login" placeholder="Entrez votre e-mail">
        <div *ngIf="loginForm.controls.login.invalid && (loginForm.controls.login.dirty || loginForm.controls.login.touched)">
            <p class="label error">L'adresse mail est obligatoire !</p>
        </div>

        <label for="password" class="label">Password</label>
        <input id="password" type="password" formControlName="password" placeholder="••••••••">
        <div *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)">
            <p class="label error">Le mot de passe est obligatoire !</p>
        </div>

        <div *ngIf="invalidCredentials">
            <p class="label error">Adresse mail et/ou mot de passe incorrect.</p>
        </div>

        <button id="signin" type="submit" [disabled]="!loginForm.valid">Connexion</button>
    </form>

    <p id="signup">
        Vous n'avez pas de compte ?
        <a class="link-same-page" routerLink="../inscription">Inscrivez-vous</a>
    </p>

</div>
<app-footer></app-footer>