<div id="connection">
    <img id="logo" src="../assets/logo.png"/>

    <p id="titre">Se connecter à son compte</p>
    
    <p id="soustitre">Bienvenue sur Mobilit’IF! Entrez vos détails.</p>

    <!-- <form action="/action_page.php">
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Last name:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <input type="submit" value="Submit">
    </form> -->
    <p class="label">Email</p>
    <input
    type="text"
    [formControl]="id"
    placeholder="Username / email">
    <p class="label">Password</p>
<input 
type="password"
[formControl]="password"
placeholder="••••••••">

<button
    id="signin"
    type="submit"
    (click)="submitConnexion()">Sign in</button>



<p id="signup">Don't have an account ? <a class="link-same-page" routerLink="../inscription">Sign up</a></p>

</div>
