<app-sidebar></app-sidebar>
<div id="faq">
    <p id="titre">FAQ Générale : questions récurrentes</p>
    <p id="soustitre">Retrouvez ici les questions récurrentes par thématiques.</p>

    <button id="reponse" (click)="onClickProposer()">+ Proposer une question</button>
    <div id="tri-questions">
        <div id="barre-boutons">
            <button class="borderradiusleft" (click)="onClickFilter('All')">Afficher toutes</button>
            <button (click)="onClickFilter('Bourses')">Bourses</button>
            <button (click)="onClickFilter('Formalités')">Formalités</button>
            <button (click)="onClickFilter('Candidatures')">Candidatures</button>
            <button (click)="onClickFilter('Voeux')">Voeux</button>
            <button class="borderradiusright" (click)="onClickFilter('Logement')">Logement</button>

            
        </div>
        <form id="recherche-form" [formGroup]="rechercheForm" (ngSubmit)="submitRecherche()">


            <button type="submit" [disabled]="!rechercheForm.valid"><img src="../../assets/search.png"></button>
            <input type="text" formControlName="recherche" placeholder="Chercher une question">
    
        </form>

    </div>

    <div id="qagrid">
        <div class="qablock" *ngFor="let qa of qas; let i=index" (click)="selectQuestion(qa)">
            <p class="type">{{qa.type}}</p>
            <p class="question">{{qa.question}}</p>
            <p class="answer">{{qa.answer}}</p>
        </div>
    </div>
    <div id="changerPage">
        <p>Page {{pagenumber}} sur {{maxPageNumber}}</p>
        <div id="boutons">
        <button (click)="onClickPlus()">Next</button>
        <button (click)="onClickMoins()">Previous</button>
    </div>
    </div>



    <div id="popup" class="overlay">
        <div id="questiondetailspopup">
            <img src="../assets/close.png" (click)="onClickClose()"/>
            <br/>
            <p class="type">{{popupqa.type}}</p>
            <p class="question">{{popupqa.question}}</p>
            <p class="questiondetails">Posté le {{popupqa.questiondate}} par {{popupqa.questionauthor}}</p>
            <p class="answer">{{popupqa.answer}}</p>
            <p class="answerdetails">Posté le {{popupqa.answerdate}} <param name="" value=""> {{popupqa.answerauthor}}</p>
        </div>




        <div id="proposerquestionpopup">
            <img src="../assets/close.png" (click)="onClickClose()"/>
            <br/>
            <form id="question-form" [formGroup]="questionForm" (ngSubmit)="submitQuestion()">


                <textarea formControlName="question" placeholder="Entrez votre question" ></textarea>
                <br/>
                <button type="submit" [disabled]="!questionForm.valid">+ Proposer la question</button>
        
            </form>
        </div>


    </div>
</div>
