@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@550&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
#settings{
    margin-left:90px;
}
#settings hr{
    margin-right:20px;
    border-top: 1px solid rgba(136, 136, 136, 0.237);
}
#settings #titre{
    margin-left:0px;
    font-family: 'Inter', sans-serif;
    font-size:2vw;
    font-weight: 500;
}
#settings .titre{
    
    margin-left:0px;
    font-family: 'Inter', sans-serif;
    font-size:1.2vw;
    font-weight: 500;
    margin-bottom:0px;
}
#settings .soustitre{
    margin-top:3px;
    color:grey;
    margin-left:0px;
    font-family: 'Inter', sans-serif;
    font-size:0.9vw;
    font-weight: 500;
}
#settings .block{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    /* grid-auto-rows: minmax(100px, auto);  */
}
#settings .block span{
    font-family: 'Inter', sans-serif;
    font-size:0.9vw;
    font-weight: 500;
}#settings .block input{
    padding-left:10px;
    padding-right:10px;
    height:30px;
    margin-left:30px;
    margin-right:30px;
    border-radius: 5px;
    border: rgb(187, 187, 187) 1px solid;
    font-family: 'Inter', sans-serif;
    font-size:1vw;
    font-weight: 500;
}
#settings .block .doubleLong{
    grid-column: 2 / 4;
}

#settings form button{
    border-radius: 5px;
    padding:7px 12px 7px 12px;
    border: rgb(187, 187, 187) 1px solid;
    font-family: 'Inter', sans-serif;
    font-size:0.9vw;
    font-weight: 500;
    float: right;
    margin-right:20px;
    margin-top:20px;
    margin-bottom:20px;
}
#settings #annuler{
    background-color: white;
}
#settings #save{
    background-color: #6B9080;
    color:white;
}
#settings #mdp-form{
    margin-top:100px;
}
#settings #messageErreur{
    
    font-family: 'Inter', sans-serif;
    font-size:0.9vw;
    color:rgb(117, 0, 0);
    margin:auto;
    text-align: center;
    margin-bottom:10px;
}