
<app-sidebar></app-sidebar>
<div id="settings">
    <p id="titre">Paramètres et profil</p>
    <hr/>

    <!-- <form id="login-form" [formGroup]="loginForm" (ngSubmit)="submitConnexion()">

        <label for="login" class="label">Email</label>
        <input id="login" type="email" email="true" formControlName="login" placeholder="Entrez votre e-mail"> -->
    <form id="settings-form" [formGroup]="settingsForm" (ngSubmit)="submitSettings()">

        <div id="infosPersonnelles">
            <p class="titre">Mes informations personnelles</p>
            <p class="soustitre">Vérifiez vos informations personnelles</p>
            <hr/>
            <div class="block">
                <span>Nom et prénom</span>
                <input formControlName="nom" placeholder="Nom" />
                <input formControlName="prenom" placeholder="Prénom"/>
            </div><hr/>
            <div class="block">
                <span>E-mail</span>
                <input class="doubleLong" formControlName="mail" placeholder="E-mail">
            </div><hr/>
            <div class="block">
                <span>Nationalité</span>
                <input class="doubleLong" formControlName="nationalite" placeholder="Nationalité">
            </div><hr/>
            <div class="block">
                <span>Département d'études</span>
                <input formControlName="annee" list=annees placeholder="Annee">
                <datalist id=annees >
                        <option> 3ème année
                        <option> 4ème année
                        <option> 5ème année
                        <option> Autre
                    </datalist>
                <input formControlName="departement" list=browsers placeholder="Departement">
                <datalist id=browsers >
                    <option> IF
                    <option> GM
                        <option> GCU
                            <option> BS
                                <option> TC
                                    <option> SGM
                                        <option> GEN
                                            <option> GI
                                                <option> GE
                    </datalist>
            </div>
            
        </div>


    </form>        
</div>  